header {
    background-image: linear-gradient(-45deg, #af68a0, #5e1d52);
}

#estado {
    width: 60px;
}

footer {
    padding: 123px;
    color: lightgray;
}

span {
    font-weight: bold;
}

.menu {

    text-decoration: none;
    font-weight: bold;
    color: white;
    list-style-type: none;

}

.menu:hover {
    color: lightgrey;
}